<br>
<br>
<br>
<br>
<footer style="background: rgb(226, 222, 222); padding: 50px 60px; align-content: center;">
        <p style="color:grey;">&copy; All rights reserved Schineder Electric</p>
</footer>
</body>
</html>