<!-- navbar -->
<%include ../partials/navbar%>
<br>
<br>
<br>
<div class="container">
      <div class="h-100 row justify-content-center">
                
              <div class="col-6">
                <p class="lead" style="margin-left: 9%;">Welcome to the share appliction website please login!</p>
                  <br>
                  <div class="jumbotron">
                      <form method="POST" action="/insertuser" enctype="multipart/form-data">
                        <!-- name -->
                        <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="UsernameInput" placeholder="Username" required>
                                <small id="emailHelp" class="form-text text-muted">*Required</small>
                        </div>
                        <!-- name -->
                        <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="EmailInput" placeholder="Email" required>
                                        <small id="emailHelp" class="form-text text-muted">*Required</small>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="pwd" id="first" placeholder="Password"  required>
                                <small id="VendorHelp" class="form-text text-muted">*Required</small>
                        </div>
                        <!-- Re-enter password -->
                        <div class="form-group">
                                        <label>Please re-enter your password</label>
                                        <input type="password" class="form-control" name="repwd" id="secound" placeholder="Re-enter Password" onchange="return validatepassword();" required>
                                        <small id="VendorHelp" class="form-text text-muted">*Required</small>
                        </div>
                        <p id="err" style="color: red"></p>
                        <!-- Registration button -->
                        <div class="row justify-content-center">
                        <div class="col-6">
                           <input type="submit" class="btn btn-secondary btn-block" id="Login" onclick="return validatepassword();" value="Register">
                        </div>
                        </div>
                      </form>
                  </div>
              </div>
      </div>
</div>
<script type="text/javascript">
        function validatepassword(){
                var first=document.getElementById('first').value;
                var secoud=document.getElementById('secound').value;
                if(first != secoud){
                  document.getElementById('err').innerText='*Please enter matching passwords'
                  return false;
                }
                return true;
        }
</script>
<!-- footer -->
<% include ../partials/footer %>