<html>
    <head>
    </head>
    <body>
        <!-- navbar -->
       <% include ../partials/navbar%>
       <div class="jumbotron jumbotron-fluid">
           <div class="container">
            <!-- <div class="display"></div> -->
           </div>
       </div>
       <!-- footer -->
       <% include ../partials/footer %>
    </body>
</html>