<!-- navbar -->
<%include ../partials/navbar%>
<div class="container">
      <div class="h-100 row align-items-center">
              <div class="col">
                  <p class="lead" style="margin-left: 30%">Welcome to the share appliction website please login!</p>
                  <br>
                  <div class="jumbotron">
                      <form method="POST" action="/auth" enctype="multipart/form-data">
                        <!-- name -->
                        <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="UsernameInput" placeholder="Username" required>
                                <small id="emailHelp" class="form-text text-muted">*Required</small>
                        </div>
                        <!-- Vendor -->
                        <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control" name="VendorName" placeholder="Password" type="password" required>
                                <small id="VendorHelp" class="form-text text-muted">*Required</small>
                        </div>
                        <!-- login button -->
                        <button type="submit" class="btn btn-success btn-block" id="Login">Login</button>
                      </form>
                  </div>
              </div>
      </div>
</div>
<!-- footer -->
<% include ../partials/footer %>